.CardSpecImg {
    max-width:100%;
    max-height:100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 180px;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.CardSpecPrice
{
position: absolute;
    inline-size: fit-content;
    bottom: 76px;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 5px;
    background: #db2828;
    color: #fff;

}

.CardSpecTitle{
    font-size: 16px;
}